<!DOCTYPE html>
<html>
<head>
    <title>My Hobbies</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1> My Hobbies</h1>
    <p>I like playing any kind of sport game, such as volleyball, football, basketball, tennis. I am a quick learner as well. 
        Moreover, I enjoy watching movies and series. Mostly, i prefer watching it at the cinema with my friends.
    </p>
    <a href="{{ url_for('home') }}">Back to Home</a>
</body>
</html>
